---
{{ if .Values.service.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Release.Name }}
    {{- if .Values.labels }}
    {{- toYaml .Values.labels | nindent 8 }}
    {{- end }}
spec:
  selector:
    app: {{ .Release.Name }}
  ports:
{{ range .Values.service.ports }}
    - protocol: {{ .protocol | default "TCP" }}
      port: {{ .port }}
      targetPort: {{ .targetPort | default .port }}
      name: {{ .name | default .port | quote }}
{{ end }}
  type: {{ .Values.service.type | default "ClusterIP" }}
{{ end }}

